/* I worked on this stylesheet until seeing a slack convo
which encouraged me to stick to the design in homework instructions.
See style.css, which conforms precisely.
*/

body{
  background-image: url('../images/bg-hawk.png');
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}

header {
  z-index: 2;
  position:fixed;
  width:100%;
  background-color: #DDDDDD;
  padding: 10px 0px 10px 0px;
  margin-bottom:20px;
  border-bottom: 5px solid #BBBBBB;
}

h1, .header-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:1.5em;  
}

.non-header-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em; 
}

.name-header{
  width: 50%;
  font-weight:bold;
  background-color:#EEEEEE;
  padding:5px 10px 8px 10px;
}

.link{
  float:right;
  margin-left:20px;
}
.link:hover{
  font-style: italic;
}

.content{
  width: 960px;
  margin: 0 auto;
}

/* to apply padding to contained content */
.section-content-wrapper{
  margin:15px;
}

.divider-line{
  margin:0 auto;
  min-height:1px;
  margin-bottom:20px;
  background-color:#BBBBBB;
}

.left-content{
  width: 650px;
  background-color: #EEEEEE;
  float:left;
  padding-bottom:15px;
  margin:80px 0px 80px 0px; /* keep content between footers */
}

.prof-pic{
  float:left;
  margin-right:15px;
  width:100px;
}

/* portfolio page styles */
.proj-wrapper{
  position:relative;
  float:left;
}
.proj-name{
  position: absolute;
  margin-top:30px;
  color:black;
  background-color:white;
  padding:10px;
  width: 260px;
}
.proj-pic{
  float:left;
  margin:0px 28px 30px 0px;
  width:280px;
}

/* contact form styles */
.form{
  font-family: Arial, Helvetica, sans-serif;
}
input{
  width:100%;
  margin: 5px 0px 10px 0px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px;
}
input[type=submit]{
  background-color:#93AB60;
  color:white;
}
input[type=submit]:hover{
  background-color:#93AB60;
  color:white;
  font-style: italic;
}
textarea {
  height:100px;
  width:100%;
  margin: 5px 0px 10px 0px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: .9em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 5px;
}
input[type=submit]{
  margin-top:10px;
}

/* social media (right-side) content */
.right-content{
  float:right;
  width: 268px; 
  background-color: #EEEEEE;
  margin: 80px 0px 80px 0px; /* keep content between footers */
}
.icon{
  width:60px;
}
.icon:hover{
  opacity:.7;
}

#toggle{
  float:right;
  margin-right:20px;
  color:#555555;
}

footer {
  width:100%;
  background-color: #DDDDDD;
  padding: 20px 0px 20px 0px;
  border-top:5px solid #BBBBBB;
  text-align:center;
  position:fixed;
  bottom:0;
}