body{
  background-image: url('../images/bg-hawk.png');
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}

#height{
  height:100%;
  position:relative;
  padding-bottom:60px;
}

.navbar{
  padding: .3rem 1rem;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;
}
.nav-link{
  padding:.2rem 1rem;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active{
  background-color:#4aaaa5;
  color:white;
  opacity:.5;
}
.navbar-nav .nav-link{
  margin-top: 5px;
  padding-top: 5px;
  padding-left: 10px;
}
.navbar-light .navbar-nav .nav-link:hover{
  background-color: #4aaaa5;
  color:white;
  opacity:.4;
}
.navbar-toggler{
  margin-top:10px;
}

.content{
  max-width:960px;
  margin:0 auto;
}

.name-header{
  background-color:#4aaaa5;
  color:white;
  padding:11px 15px 15px 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:1.5em;
  font-weight:bold;
}

h1, .header-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:1.5em;
  font-weight:bold;
  color:#4aaaa5;
}
.non-header-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em; 
}

.section-content-wrapper{
  margin:15px;
}

.divider-line{
  margin:0 auto;
  min-height:1px;
  margin-bottom:20px;
  background-color:#dddddd;
}

.left-content{
  background-color: #ffffff;
  border:1px solid #dddddd;
  overflow:auto;
  margin-bottom:20px;
}

.prof-pic{
  float:left;
  margin: 0px 15px 15px 0px;
}

.about-me{
  text-align:justify;
}

/* portfolio page styles */
.proj-wrapper{
  position:relative;
  margin-bottom:30px;
  width:100%;
}
.proj-wrapper:hover{
  opacity:.7;
}
.proj-link:hover{
  text-decoration:none;
}
.proj-name{
  /* position: absolute; */
  display:block;
  margin:0 auto;
  text-align: center;
  left:0;
  right:0;
  top: 20px;
  padding: 5px 10px;
  color: #4aaaa5;
  width:100%;
}


/* contact form styles */
.form{
  color:gray;
}
.form-control::placeholder, ::placeholder {
  color:#dddddd;
}
input{
  width:100%;
  margin: 0px 0px 5px 0px;
  color:#BBBBBB;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 5px;
}
label{
  margin-bottom:0rem;
}
.btn-primary{
  width:auto;
  border: none;
  margin-top:10px;
  background-color:#4aaaa5;
  color:white;
}
.btn-primary:hover,.btn-primary:focus.btn-primary:active,.btn-primary.active{
  opacity:.7;
  font-style: italic;
  background-color:#4aaaa5;
  color:white;
}
textarea {
  width:100%;
  margin: 0px 0px 10px 0px;
  border: 1px solid #ced4da;
  color:#BBBBBB;
  border-radius: .25rem;
  resize: none;
  box-sizing: border-box;
  padding: 5px;
}
#mailto-subject{
  display: none;
}

/* social media (right-side) content */
.right-content{
  background-color: #ffffff;
  border:1px solid #dddddd;
  padding-bottom: 15px;
  margin-bottom:20px;
}
.icon{
  width:60px;
  height:60px;
  margin:0px 0px 4px 0px;
}
.icon:hover{
  opacity:.7;
}

.card{
  border-top: 5px solid #4aaaa5;
}

.card-header{
  background-color: #666666;
  color:#aaaaaa;
  text-align:center;
}

#footer{
  position:fixed;
  width:100%;
  bottom:0;
}